* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: LeagueGothic;
  src: url('./assets/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf');
}

@font-face {
  font-family: DotGothic;
  src: url('./assets/fonts/DotGothic16-Regular.ttf');
}

body {
  font-family: 'LeagueGothic', sans-serif;
  letter-spacing: .8ch;
}

.hurtmold {
  font-family: DotGothic, sans-serif;
}

.h-100 {
  height: calc(100vh - 1em);
}

.h-98 {
  height: calc(100vh - .5em);
}

.w-100 {
  width: calc(100vw - 2em);
}

.w-98 {
  min-width: calc(100vw - .5em);
}

.footer-bg {
  background: rgb(8, 29, 33);
  background: -moz-radial-gradient(circle, rgba(8, 29, 33, 0.8) 0%, rgba(8, 29, 33, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(8, 29, 33, 0.8) 0%, rgba(8, 29, 33, 1) 100%);
  background: radial-gradient(circle, rgba(8, 29, 33, 0.8) 0%, rgba(8, 29, 33, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#081d21", endColorstr="#081d21", GradientType=1);
}

translate-x-full {
  transform: translateX(1000%);
}

